<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="../iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="../css/base.css">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
	<div class="home-page">
		<!-- 信息展示层 -->
		<div class="show-info">
			<!-- 左侧轮播图区 -->
			<div class="pic-show l rel">
				<!-- 轮播图模板容器 -->
				<div class="inner">
				</div>
			
				<div class="pic-intro abs"> <!-- 轮播图下方介绍框 -->
					<div class="pic-intro-left l f18 gf3 lh40 ell">
						<a href="javascript:void(null)" class="f18 gf3 lh40">
					
						</a>
					</div>
					
					<div class="pic-intro-right r mt13">
						<span class="not-active active mr10"></span>
						<span class="not-active mr10"></span>
						<span class="not-active mr10"></span>
						<span class="not-active mr20"></span>
					</div>
					<div class="clear"></div>
				</div>
				<a href="javascript:void(null)" class="left-arrow abs block lh68 tc wh f18">&lt;</a>
				<a href="javascript:void(null)" class="right-arrow abs block lh68 tc wh f18">&gt;</a>
			</div>
			<!-- 轮播图结束 -->
			<!-- 易企助手面板 -->
			<div class="yiqi-assistant r">
				<div class="yiqi-assistant-head">
					<span class="fw f18 lh37 ml20 wh">易企小助手</span>
				</div>
				<p class="enterprise-query f20 bolder ml20 mt25">
					已入驻企业<span class="f30 bolder geb6">  </span>家
					<a href="javascript:void(null)" class="btn-query f16 tc lh34 wh ml10">企业查询</a>
				</p>
				<table class="assistant-table mt30">
					<tr>
						<td><a href="javascript:void(null)"><i class="iconfont icon-zixunxiaoxi block f30 g5f"></i><span class="f14 g3 block mt10">咨询诉求</span></a></td>
						<td><a href="javascript:void(null)"><i class="iconfont icon-jienengzhengce block f30 g5f"></i><span class="f14 g3 block mt10">创业指南</span></a></td>
						<td><a href="javascript:void(null)"><i class="iconfont icon-996tianping block f30 g5f"></i><span class="f14 g3 block mt10">法律咨询</span></a></td>
					</tr>
					<tr>
						<td><a href="javascript:void(null)"><i class="iconfont icon-layers block f30 g5f"></i><span class="f14 g3 block mt10">在线商机</span></a></td>
						<td><a href="javascript:void(null)"><i class="iconfont icon-b6 block f30 g5f"></i><span class="f14 g3 block mt10">企业培训</span></a></td>
						<td><a href="javascript:void(null)"><i class="iconfont icon-gonggao block f30 g5f"></i><span class="f14 g3 block mt10">网站公告</span></a></td>
					</tr>
				</table>
			</div>
			<div class="clear"></div>
		</div>
		<!-- 政企互动层开始 -->
		<div class="policy-news">
			<div class="interaction-each l">
				<!-- 可复用的头模块 -->
				<div class="module-left mb15">
					<span class="module-slide l"></span>
					<span class="block l f18 lh38 ml15 l b">政企互动</span>
					<a href="javascript:void(null)" class="r f12 g6 lh38 mr10">更多>></a>
					<div class="clear"></div>
				</div>
				<div class="policy-news-list">
					<div class="show-pic l mt12">
						<a href="javascript:void(null)"><img class="policy-news-img"></a>
						<div class="news-info ell f18 gf3 wh"><a href="javascript:void(null)" class
							="f18 gf3 wh short-news"></a></div>
					</div>
					<!-- 政策新闻容器 -->
					<ul class="news-content r mt12">
					</ul>
					
					<div class="clear"></div>
				</div>
			</div>
			<div class="law-and-policy r">
				<div class="module-right mt10">
					<span class="module-right-title l f18 g3 tc lh45 b">政策法规</span>
					<a href="javascript:void(null)" class="r f12 g6 lh45">更多>></a>
					<div class="clear"></div>
				</div>
				<!-- 政策法规列表容器 -->
				<ul class="law-ul">

				</ul>
				<div class="clear"></div>
				
			</div>
			<div class="clear"></div>
		</div>
		<!-- 为民服务层开始 -->
		<div class="service-for">
			<div class="service-list l">
				<div class="module-left mb15">
					<span class="module-slide l"></span>
					<span class="block l f18 lh38 ml15 l b">为民服务</span>
					<a href="javascript:void(null)" class="r f12 g6 lh38 mr10">更多>></a>
					<div class="clear"></div>
				</div>
				<ul class="service-list-ul">
					<li class="l mt11"><a href="javascript:void(null)" class="pic-call">
						<p class="f24 wh tc b mt100">家政服务</p>
						<p class="f16 wh tc b">商家</p>
					</a></li>
					<li class="l mt11 ml9"><a href="javascript:void(null)" class="pic-oldman">
						<p class="f24 wh tc b mt100">养老服务</p>
						<p class="f16 wh tc b">商家</p>
					</a></li>
					<li class="l mt11 ml10"><a href="javascript:void(null)" class="pic-eat">
						<p class="f24 wh tc b mt110">美食商家</p>
					</a></li>
					<li class="l mt11 ml10"><a href="javascript:void(null)" class="pic-shop">
						<p class="f24 wh tc bolder mt110">购物商家</p>
					</a></li>
				</ul>
			</div>
			<div class="join-us r">
				<div class="module-right mt10">
					<span class="module-right-title l f18 g3 tc lh45 b">加盟进驻</span>
					<a href="javascript:void(null)" class="r f12 g6 lh45">更多>></a>
					<div class="clear"></div>
				</div>
				<a href="javascript:void(null)" class="btn-join mt10 rel"><img src="../images/pic_join.png" height="159" width="366"><img src="../images/join_us.png" class="btn-move abs"></a>
			</div>
			<div class="clear"></div>
		</div>
		<!-- 办事层开始-->
		<div class="handle-affairs">
			<div class="affairs-classify l rel">
				<div class="module-left mb15">
					<span class="module-slide l"></span>
					<span class="block l f18 lh38 ml15 l b">我要办事</span>
					<ul>
						<li id="topicNav" class="classify-nav-item l mt8 ml100 f14 g4 tc lh28 nav-list  item-selected poi">按主题分类</li>
						<li id="businessNav" class="classify-nav-item l mt8 f14 g4 tc lh28  poi">按经营活动</li>
						<li id="departmentNav" class="classify-nav-item l f14 g4 mt8 tc lh28  poi">按职能部门</li>
					</ul>
					<a href="javascript:void(null)" class="r f12 g6 lh38 mr10">更多>></a>
					<div class="clear"></div>
				</div>
				<div class="affairs-classify-panel rel">
					<!-- 按主题分类容器 -->
					<ul class="topic-panel show abs">
					</ul>
					<!-- 按经营活动分类table -->
					<ul class="business-panel abs">
						<li class="bgc tc f30">按经营活动分类table</li>
					</ul>
					<!-- 职能部门分类 -->
					<ul class="deparment-panel abs">
						<li class="bgff tc f30">按职能部门分类table</li>
					</ul>
				</div>
			</div>
			<div class="hot-affairs r">
				<div class="module-right">
					<span class="module-right-title l f18 g3 tc lh45 b">热门办事</span>
					<a href="javascript:void(null)" class="r f12 g6 lh45">更多>></a>
					<div class="clear"></div>
				</div>
				<div class="hot-affairs-list">
					<!-- 热门办事容器 -->
					<ul>
					</ul>
					
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!-- 找场地层开始 -->
		<div class="find-place">
			<div class="place-list l rel">
				<div class="module-left mb15">
					<span class="module-slide l"></span>
					<span class="block l f18 lh38 ml15 l b">我要找场地</span>
					<ul>
						<li id="rentOutNav" class="place-nav-item l mt8 ml100 f14 g4 tc lh28 nav-list  item-selected poi">出租</li>
						<li id="saleOutNav" class="place-nav-item l mt8 f14 g4 tc lh28  poi">出售</li>
						<li id="findRentNav" class="place-nav-item l f14 g4 mt8 tc lh28  poi">求租</li>
						<li id="findSaleNav" class="place-nav-item l f14 g4 mt8 tc lh28  poi">求购</li>
					</ul>
					<a href="javascript:void(null)" class="r f12 g6 lh38 mr10">更多>></a>
					<div class="clear"></div>
				</div>
				<!-- 出租列表容器 -->
				<ul id="rentOutList" class="place-info-list show abs">
				</ul>
			
				<!-- 出售列表 -->
				<ul id="saleOutList" class="place-info-list abs fix">
					<li class="tc f30">出售list</li>
				</ul>
				<!-- 求租列表 -->
				<ul id="findRentList" class="place-info-list abs">
					<li class="tc f30">求租list</li>
				</ul>
				<!-- 求购列表 -->
				<ul id="findSaleList" class="place-info-list abs">
					<li class="tc f30">求购list</li>
				</ul>
			</div>
			
			<div class="quick-find r">
				<div class="module-right">
					<span class="module-right-title l f18 g3 tc lh45 b">快速查找</span>
					<a href="javascript:void(null)" class="r f12 g6 lh45">更多>></a>
					<div class="clear"></div>
				</div>
				<div class="filter-place-panel mt10 rel">
					<ul>
						<li class="rel">
							<label class="input-title iblock f14 gc tc lh28 ml20 mt18 b poi">求租区域:</label>
							<div id="inputArea1" class="input-area vt mt18 mr18 ti8 lh28 r f14 g8 rel poi">芜湖市
								<!-- <span class="line abs iblock"></span> -->
							</div>
						</li>
						<div class="clear"></div>
						<!-- 快速查找下拉1容器 -->
						<ul id="selectPlace1" class="select-place1 pull-down-option abs">
						</ul>
					
						<li class="rel">
							<label class="input-area-title input-title iblock f14 gc tc lh28 ml20 mt18 b poi">求租面积:</label>
							<div id="inputArea2" class="input-area vt mt18 mr18 ti8 lh28 r f14 g8 rel poi">越大越好
								<!-- <span class="line abs iblock"></span> -->
							</div>
						</li>
						<div class="clear"></div>
						<!-- 快速查找下拉2容器 -->
						<ul id="selectPlace2" class="select-place2 pull-down-option abs">
						</ul>
					
						<li class="rel">
							<label class="input-rent-title input-title iblock f14 gc tc lh28 ml20 mt18 b poi">租金范围:</label>
							<div id="inputArea3" class="input-area vt mt18 mr18 ti8 lh28 r f14 g8 rel poi">都可以
							</div>
						</li>
						<div class="clear"></div>
						<!-- 快速查找下拉3容器 -->
						<ul id="selectPlace3" class="select-place3 pull-down-option abs">
						</ul>
					
						<li class="rel">
							<label class="input-type-title input-title iblock f14 gc tc lh28 ml20 mt18 b poi">房源类型:</label>
							<div id="inputArea4" class="input-area vt mt18 mr18 ti8 lh28 r f14 g8 rel poi">豪华别墅
							</div>
						</li>
						<div class="clear"></div>
						<!-- 快速查找下拉5容器 -->
						<ul id="selectPlace4" class="select-place4 pull-down-option abs">
						</ul>
						
						<a href="javascript:void(null)" class="btn-quick-find f16 wh tc lh31">快速查找</a>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!-- 申请贷款层开始 -->
		<div class="apply-loan">
			<div class="loan-ways l">
				<div class="module-left mb15">
					<span class="module-slide l"></span>
					<span class="block l f18 lh38 ml15 l b">我要找贷款</span>
					<a href="javascript:void(null)" class="r f12 g6 lh38 mr10">更多>></a>
					<div class="clear"></div>
				</div>
				<div class="bank-top">
					<!-- 贷款银行列表 -->
					<ul class="center">
					</ul>
					
					<!-- 贷款流程介绍 -->
					<div class="loan-procedure center">
						<a href="javascript:void(null)" class="procedure-01 iblock vt ml20 mt20"><span class="iblock f16 g3 b tc mt75">在线申请</span></a><span class="split-line ml10 mt50 vt"></span>
						<a href="javascript:void(null)" class="procedure-02 iblock vt mt20"><span class="iblock f16 g3 b tc mt75">提交材料</span></a><span class="split-line vt mt50"></span>
						<a href="javascript:void(null)" class="procedure-03 iblock vt mt20"><span class="iblock f16 g3 b tc mt75">等待审核</span></a><span class="split-line vt mt50"></span>
						<a href="javascript:void(null)" class="procedure-04 iblock vt mt20"><span class="iblock f16 g3 b tc mt75">提出意见</span></a>
						<span class="iblock f12 g8 mt5">选择产品，咨询了解</span>
						<span class="iblock f12 g8 ml50 mt5">专人协助，现场审核</span>
						<span class="iblock f12 g8 ml50 mt5">快速审核，等待放款</span>
						<span class="iblock f12 g8 ml50 mt5">到款成功，留下意见</span>
					</div>
				</div>
			</div>
			<!-- 自助融资模块 -->
			<div class="find-loan r">
				<div class="module-right">
					<span class="module-right-title l f18 g3 tc lh45 b f14">自助融资</span>
					<a href="javascript:void(null)" class="r f12 g6 lh45">更多>></a>
					<div class="clear"></div>
				</div>
				<div class="loan-record-panel mt10">
					<ul class="loan-panel center rel">
						<li class="rel">
							<label class="input-loan-title iblock f14 gc tc lh28 ml20 mt18 b">我想贷款:</label><div id="inputLoanArea1" class="input-loan-area vt mt18 mr18 ti8 lh28 r f14 g8 rel poi">房贷
							</div>
						</li>
						<div class="clear"></div>
						<!-- 自主融资下拉1容器 -->
						<ul id="selectLoan1" class="select-loan1 pull-down-option abs">
						</ul>
					
						<li class="rel">
							<label class="input-loan-title iblock f14 gc tc lh28 ml20 mt18 b">贷款期限:</label><div id="inputLoanArea2" class="input-loan-area vt mt18 mr18 ti8 lh28 r f14 g8 rel poi">百年
								<span class="line abs iblock"></span>
							</div>
						</li>
						<div class="clear"></div>
						<!-- 自主融资下拉2容器 -->
						<ul id="selectLoan2" class="select-loan2 pull-down-option abs">
						</ul>
					
						<li class="rel">
							<label class="input-loan-title iblock f14 gc tc lh28 ml20 mt18 b">担保类型:</label><div id="inputLoanArea3" class="input-loan-area vt mt18 mr18 ti8 lh28 r f14 g8 rel poi">无担保
								<span class="line abs iblock"></span>
							</div>
						</li>
						<div class="clear"></div>
						<!-- 自主融资下拉3容器 -->
						<ul id="selectLoan3" class="select-loan3 pull-down-option abs">
						</ul>
						
						<a href="javascript:void(null)" class="btn-submit f16 wh tc lh31">提交</a>
					</ul>
					<div class="loan-record auto">
						<h3 class="f16 b ff9 mt15">申请记录</h3>
						<!-- 申请贷款容器 -->
						<ul class="apply-record-ul">
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	 <script type="text/javascript" src="../js/require-config.js"></script>
	 <script type="text/javascript" src="../js/plugins/require.js" data-main="../js/apps/service/homepage-service.js"></script>
</body>
<!-- 轮播图模板 -->
<script type="text/html" id="picDisplay">
	{{each $data as value i}}
		<a href="javascript:void(null)" class="inner-wrapper block l">
			<img src={{value.imgUrl}} class="l" alt="图片加载失败">
		</a>
	{{/each}}
</script>
<!-- 政策新闻模板 -->
<script type="text/html" id="policyList">
	{{each $data as value i}}
		<li class="mb5"><a href="javascript:void(null)" class="policy-news-title l f14 g3 b ell">
		{{value.title}}
		 </a>
		 <span class="r f12 g8 mr25">{{value.date}}</span>
		</li>
		{{if i==0}}
			<div class="news-list-content f12 g8 ml12 news-selected">
			{{value.content}}
		</div>
		{{else}}
			<div class="news-list-content f12 g8 ml12">
			{{value.content}}
			</div>
		{{/if}}
	{{/each}}
</script>
<!-- 政策法规模板 -->
<script type="text/html" id="lawPanel">
	{{each $data as value i}}
		<li class="law-list">
			<a href="javascript:void(null)" class="l f14 g3 b ell">{{value.title}}</a>
			<span class="r f12 g8 mr25">{{value.date}}</span>
		</li>
	{{/each}}
</script>
<!-- 按主题分类模板 -->
<script type="text/html" id="topicTempl">
	{{each $data as value i}}
		<li class="l">
			<a href="javascript:void(null)">
				<img src="../images/{{value.name}}.png" class="vt ml35 mt20 block">
				<span class="f14 g4 block tc mt8 mr10 ml5">{{value.value}}</span>
			</a>
		</li>
	{{/each}}
</script>
<!-- 热门办事模板 -->
<script type="text/html" id="hotAffairs">
	{{each $data as value i}}
		<li class="pb2">
			{{if i< 3 }}
				<span class="f14 red b mt15">{{value.id}}</span>
				<a href="javascript:void(null)" class="f14 g3 iblock mt15 ml25 b">{{value.title}}
				</a>
				<a href="javascript:void(null)" class="hot ml15 wh f12 tc lh17">
					HOT
				</a>
			{{else}}
				<span class="f14 b mt15">{{value.id}}</span>
				<a href="javascript:void(null)" class="f14 g3 iblock mt15 ml25 b">{{value.title}}
				</a>
			{{/if}}
				<p class="f14 g8 ml42">
					{{value.apartment}}
					<span class="division">|</span>
					{{value.address}}
				</p>
		</li>
	{{/each}}
</script>	
<!-- 快速查找下拉2模板 -->
<script type="text/html" id="slideTwo">
	{{each $data as value i}}
		<li class="rent-option f14 lh28 ti10 poi">{{value}}</li>
	{{/each}}
</script>
<!-- 出租列表模板 -->
<script type="text/html" id="lookPlaceTempl">
	{{each $data as value i}}
		<li>
		<div class="place-pic l ml10 mt10"><a href="javascript:void(null)"><img src={{value.imgUrl}} height="124" width="192"></a></div>
		<div class="place-info r ml10 mt10">
			<p class="f14 g3 b ell">{{value.title}}</p>
			<p class="f14 g6 ell">地址:{{value.address}}</p>
			<p class="f14 g6 ell">租金:{{value.rentalPrice}}元/平方米/月</p>
			<p class="f14 g6 ell">面积:{{value.area}}m²</p>
			<p class="f14 g6 ell">更新日期:{{value.updateDate}}</p>
		</div>
		<div class="clear"></div>
		</li>
	{{/each}}
</script>

<!-- 快速查找下拉1模板 -->
<script type="text/html" id="slideOne">
	{{each $data as value i}}
		<li class="area-option f14 lh28 ti10 poi">{{value}}</li>
	{{/each}}
</script>

<!-- 快速查找下拉3模板 -->
<script type="text/html" id="slideThree">
	{{each $data as value i}}
		<li class="range-option f14 lh28 ti10 poi">{{value}}</li>
	{{/each}}
</script>
<!-- 快速查找下拉4模板 -->
<script type="text/html" id="slideFour">
	{{each $data as value i}}
		<li class="type-option f14 lh28 ti10 poi">{{value}}</li>
	{{/each}}
</script>
<!-- 我要找贷款模板 -->
<script type="text/html" id="lookLoanTmpl">
	{{each $data as value i}}
		<li>
			<div class="no1 pic-top l mt15 rel">
				<div class="ranking-logo abs">
					<span class="f7 wh block tc">TOP</span>
					<span class="f9 wh block tc">{{value.top}}</span>
				</div>
			</div>
			<div class="top-info r mt15">
				<p class="l b f16 g3 mt8 ell">{{value.name}}</p><br>
				<a href="javascript:void(null)" class="btn-know-more r vt mt10 mr10 f14 wh lh31 tc">了解更多</a>
				<p class="l f16 g3 ell">热度：</p>
				<p class="l f16 g3 ell">贷款金额：{{value.money}}</p>
			</div>
			<div class="clear"></div>
		</li>
	{{/each}}
</script>

<!-- 自助融资下拉1模板 -->
<script type="text/html" id="LoanOneTmpl">
	{{each $data as value i}}
		<li class="apply-option f14 lh28 ti10 poi">{{value}}</li>
	{{/each}}
</script>

<!-- 自助融资下拉2模板 -->
<script type="text/html" id="LoanTwoTmpl">
	{{each $data as value i}}
		<li class="time-option f14 lh28 ti10 poi">{{value}}</li>
	{{/each}}
</script>

<!-- 自助融资下拉3模板 -->
<script type="text/html" id="LoanThreeTmpl">
	{{each $data as value i}}
		<li class="ensure-option f14 lh28 ti10 poi">{{value}}</li>
	{{/each}}
</script>				
<!-- 申请贷款记录模板 -->
<script type="text/html" id="applyRecordTmpl">
	{{each $data as value i}}
		<li class="mt12 f14 g6 lh25" id="applyRecord{{value.id}}">
			<span class="client-name iblock f14 g6 lh25 ell">{{value.name}}：</span>
			<span class="f14 g6 lh25 iblock vt">{{value.money}}</span>
			<span class="f14 g6 lh25 iblock vt">万</span>
			<span class="all iblock ml70 vt mt6 rel"><i class="some iblock abs"></i></span>
			<span class="f14 g6 lh25 ml10 iblock vt">{{value.pass}}</span>
		</li>
	{{/each}}
</script>
</html>